body{
       margin-left: 20px;
       margin-right: 20px;
       display: flex;
       flex-direction: column;
        background:rgb(1,7,48);
        font-family: system-ui ,Sans-Serif;
        
      }
header{
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 1rem;
        background:none;
        color:orange ;
      }
.tabs {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
        gap: 2rem;
}
      
.tabs a {
        text-decoration: none;
        color:orange;
      }
 #hero{
        margin-top: 1.8rem;
        text-align: center;
      }
#cta{
        color:white;
        font-size: 140%;
        border-radius: 30px;
        background: orange;
        height: auto;
        text-decoration: none;
        padding: 1rem;
        text-align: center;
        align-self: center;
      }
#cta:hover{
        color:blue ;
      }
#main{
        margin-top: 0.25rem;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
      }
.desc{
        padding:1.8rem;
        text-align: center;
        border-radius:15px;
        width: 210px;
        color: white;
        background: rgba(1,7,80,1);
      }
footer{
        margin-top: 40px;
        color:white;
       text-align: center; 
      }